<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%= @tname %> </h1>
   <h2>Coach: <%= @coach %> </h2>
   <h2>Point Guard: <%= @p_guard %> </h2>
   <h2>Shooting Guard: <%= @s_guard %> </h2>
   <h2>Small Forward: <%= @s_forward %> </h2>
   <h2>Power Forward: <%= @p_forward %> </h2>
   <h2>Center: <%= @center %> </h2>

 </body>
</html>
